body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  height: 100vh;
  margin: 0;
  padding-right: 10vw;
  padding-top: 10vw;
}

.container {
  background-color: rgba(255, 255, 255, 0.219);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

form {
  color: #fff;
  display: flex;
  flex-direction: column;
}

label,
input,
select,
button {
  margin-bottom: 15px;
  font-size: 14px;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 12px;
  background-color: #b446a0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #7700b3;
}
